# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# gitignore all hidden directories and files (All directory names starting with a dot .)
.*
!.gitignore

*.out
output/
*.txt